//@import "~antd/lib/style/themes/default.less";
@import '~antd/dist/antd.css';
@import "/iconfont/iconfont.css";

.main {
    padding: 24px;
    background: '#fff';
    min-height: 360px;
    overflow: hidden;
}

ul{
    list-style-type: none;
    list-style-image: none;
}

.icon-list {
    color: #666;
}

// App Component
.icon-list li {
    float: left;
    margin: 15px 13px;
    width: 100px;
    height: 105px;
    text-align: center;
    position: relative;
    overflow: visible;
    border: 1px dashed transparent;
    border-radius: 5px;
}

.icon-list li.selected {
    border-color: #60606d;
}

.icon-list li .iconapp {
    cursor: pointer;
    margin-top: 18px;
    max-width: 100%;
    font-size: 36px;
}

.icon-list li .icon-name {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.icon-list li .icon-cover{
    width: 100%;
    height: 100%;
    background: rgba(13,10,49,.9);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 5px;
}

.icon-list li:hover .icon-cover{
    display: block;
}

.icon-list li .icon-cover .cover-item {
    width: 50%;
    height: 52.5px;
    line-height: 52.5px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}

.icon-list li .icon-cover .cover-item:hover {
    background: #0d0a31;
    color: red;
}

.icon-list li.selected .icon-star:before{
    content: '\E660';
    color: red!important;
}

.icon-star:before{
    content: '\E661';
}

.icon-eye:before{
    content: '\E688';
}

.icon-list li .icon-cover .cover-item-line {
    width: 100%;
    height: 35px;
    line-height: 35px;
}